@{
    ViewBag.Title = "CONTACTOS";
}
<h2>@ViewBag.Title.</h2>


<address>
     Instittuto Tecnologico ITLA<br />
    VILLA TAPIA, RD 98052-6399<br />
    <abbr title="Phone">TEL:</abbr>
    829.663.3436
</address>

<address>
    <strong>SOPORTE:</strong>   <a href="mailto:Support@example.com">anthony26uu@gmail.com</a><br />
    <strong>PROMOCIONES:</strong> <a href="mailto:Marketing@example.com">anthony26uu@gmail.com</a>
</address>