@{
    ViewBag.Title = "INICIO";
}

<div class="jumbotron">
    <h1>PELIS & SERIES EXTREM</h1>
    <p class="lead">BIENVENIDO</p>
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>CLIENTES</h2>
        <p>
         PERMITE REGISTRAR, EDITAR Y ELIMINAR CLIENTES
        </p>
        <p><a class="btn-link"   <li> @Html.ActionLink("MAS ", "Index", "Clientes") </li>   &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PELICULAS</h2>
        <p> PERMITE REGISTRAR, EDITAR Y ELIMINAR PELICULAS</p>
        <p><a class="btn-link"   <li> @Html.ActionLink("MAS ", "Index", "Peliculas") </li>   &raquo;</a></p>

    
    </div>
    <div class="col-md-4">
        <h2>Series</h2>
        <p>
            PERMITE REGISTRAR, EDITAR Y ELIMINAR SERIES
           

        </p>
        <p><a class="btn-link"   <li> @Html.ActionLink("MAS ", "Index", "Series") </li>   &raquo;</a></p>
    
    </div>


    <div class="col-md-4">
        <h2>FACTURA CON DETALLE</h2>
        <p>
            PERMITE REGISTRAR, EDITAR Y ELIMINAR FACTURAS <br />
            Nota: NO ESTA COMPLETO

        </p>
        <p><a class="btn-link"   <li> @Html.ActionLink("MAS ", "Index", "Facturas") </li>   &raquo;</a></p>

    </div>
</div>